
html{
    scroll-behavior: smooth;
}

.services:hover {
    opacity: 1;
    height: 100%;
    transition: 0.5s;

}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE & Edge */
    scrollbar-width: none;     /* Firefox */
}


.hide-arrows::-webkit-outer-spin-button,
.hide-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox uchun */
.hide-arrows[type=number] {
    -moz-appearance: textfield;
}
















































